.openDrawer {
    position: fixed;
    top : 50%;
    right: -1px;
    border: 1.75px solid whitesmoke;
    border-radius: 13px 0px 0px 13px;
    z-index: 1;
}

.closeDrawer {
    width: 25px;

    position: fixed;
    top: 50%;
    right: 320px;
    border-top: 1.75px solid whitesmoke;
    border-left: 1.75px solid whitesmoke;
    border-bottom: 1.75px solid whitesmoke;
    border-radius: 13px 0px 0px 13px;
    z-index: 1;
}