#chatContainer {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}

#chatToolbar {
  height: 30px;
  background-color: #3d3d3d;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding-top: 4px;
  color: #ffffff;
}

#closeButton {
  position: absolute;
  right: 0;
  top: -8px;
}

#fileButton {
  /* background-color: #81d6e9; */
  position: absolute;
  align-self: flex-end;
  top: 0;
  bottom: 0;
  margin: auto;
  /* border: 1px solid #7ae2a9; */
  box-shadow: none !important;
  height: 20px;
  width: 30px;
  border-radius: 10px;
  margin-right: 20px;
  color: white;
}

#fileContainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #374151;
  text-align: center;
  padding: 10px 15px;
  height: 75px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#chatComponent {
  background-color: #b8b8b8;
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  border-radius: 20px;
}

.message-wrap {
  padding: 0 15px;
  height: calc(100% - 80px);
  overflow: auto;
  background-color: #17202e;
}

.message {
  position: relative;
  padding: 5px 0;
  /* align-self: center !important; */
  /* background-color: red; */
  display: flex;
  margin-top: 2px !important;
}

.message.left {
  display: flex;
  justify-content: flex-start;
  margin-left: 12px;
}

.message.right {
  display: flex;
  justify-content: flex-end;
}

.user-img {
  position: absolute;
  border-radius: 45px;
  width: 45px;
  height: 45px;
  top: 15px;
}

.msg-detail {
  width: calc(100% - 65px);
  display: inline-block;
  /* background-color: #000000; */
}

.msg-detail p {
  margin: 0;
  margin: 0px 2px;
  font-size: 15px;
}

.msg-info p {
  font-size: 0.8em;
  color: #ffffff;
  font-style: italic;
  margin-top: 2px;
}

.msg-content {
  position: relative;
  margin-top: 5px;
  border-radius: 5px;
  padding: 8px;
  color: #000000;
  width: auto;
  max-width: 80%;
}

.text {
  word-break: break-all;
  color: #000000;
}

.message.left .msg-detail .msg-info {
  text-align: left !important;
  align-items: flex-end;
}

.message.left .msg-detail {
  /* margin-top:  */
  padding-left: 1px;
}

.message.left .msg-detail .msg-content {
  background-color: #ffffff;
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.message.right .msg-detail .msg-info {
  text-align: right !important;
  align-items: flex-start;
}

.message.right .msg-detail .msg-content {
  background-color: #fffb91;
  float: right;
  display: flex;

  align-items: center;
  padding: 5px;
}


#messageInput {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0px;
  height: 45px;
}

#messageInput input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  margin-left: -6%;
  color: #000000;
}

#sendButton {
  background-color: #2d8cff;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #7ae2a9;
  box-shadow: none !important;
}
#sendButton {
  margin-left: 3px !important;
  margin-bottom: 2px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
}

.chatComponentLight ::-webkit-scrollbar-thumb {
  background-color: #eeeeee !important;
}

.timeStamp {
  font-size: 10px;
  bottom: 5px; /* 메시지 박스와의 거리 */
  margin-top: 10px !important;
  color: whitesmoke;
  font-family: "GmarketSans" !important;
}

.timeStamp.right {
  align-content: flex-end;
}

.timeStamp.left {
  align-content: flex-start;
}

.content-with-timestamp {
  display: flex;
  align-items: center;
}

.message.left .content-with-timestamp {
  justify-content: flex-start;
  flex-direction: row;
}

.message.right .content-with-timestamp {
  flex-direction: row-reverse;
}

.timeStamp {
  font-size: 10px;
  margin-left: 8px; /* 메시지와의 간격 */
  margin-right: 8px; /* 메시지와의 간격 */
}

.message.left .timeStamp {
  /* color: yellow; */
  margin-left: 10px;
}

.message.right .timeStamp {
  margin-right: 10px;
}

.downloadText {
  font-size: 15px !important;
}
