.modal {
  position: fixed;
  right: 12px;
  bottom: 50px;
  width: 295px;
  height: 292px;
  background-color: black;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  overflow: auto;
  border-radius: 10px;
  background-color: #f4f4f4;

  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-direction: column;

  z-index: 99999;
}

.modal h2 {
  align-self: flex-start;
  /* text-align: left; */
}

.modalHeader {
  display: flex;
  justify-content: space-between; /* "Files"와 "x" 사이의 공간을 최대로 설정 */
  width: 100%;
  /* align-items: space-between; */
}

.modalHeader button {
  align-self: flex-start; /* button을 상단에 위치 */
  border-radius: 50%;
  font-weight: bold;

  /* margin-left: auto; */
}

.upload {
  border: 2px dotted gray;
}

.hidden-input {
  display: none;
}

.custom-file-label {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.custom-file-label:hover {
  background-color: #45a049;
}

/* .divider {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  padding-bottom: 10px;
} */

/* .modal button {
  margin: 0;
  width: 30px;
  height: 30px;
  
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  border: 1px;
  cursor: pointer;
  font-size: 18px;
} */
