.login {
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: linear-gradient(180deg, rgba(38, 114, 185, 1) 19%, rgba(134, 134, 134, 1) 100%, rgba(134, 134, 134, 1) 100%);
}

.moon_container {
    position: absolute;
    left: 0;
}

.moon {
    position: sticky;
    width: 600px;
    opacity: 0.75;
}

.star1 {
    position: absolute;
    top: -20px;
    right: 5%;
    width: 200px;
    opacity: 0.5;
}

.star2 {
    position: fixed;
    bottom: -40px;
    right: 10%;
    width: 250px;
    opacity: 0.5;
    transform: rotate(10deg);
}

.star3 {
    position: fixed;
    bottom: 100px;
    left: -3%;
    width: 200px;
    opacity: 0.5;
    transform: rotate(270deg);
}

.people {
    position: fixed;
    
}