.container {
    padding: 20px;
}

.title {
    color: rgba(245, 249, 255, 1);
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bar {
    color: white;
}

.imgContainer {
    margin-top: 10vh;
}

.image {
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
}

.nickNameContainer {
    margin-top: 20px;
}

.nickeNameInput {
    width: 20vw;
    background-color: white;
    border-radius: 10px;
}

.buttonContainer {
    padding: 10vh;
}

.button {
    width: 10vw;
    margin-right: 2vw;
    /* Add right margin to the button */
}