.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modalBody {
  width: 50vw;
  height: 70vh;
  padding: 20px;
  text-align: center;
  background-color: rgba(46, 46, 72, 0.7);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  overflow: auto;
}

.modalHeader {
  color: white;
  align-self: flex-start;
}

.settingContainer {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: -5vh;
}

.textArea {
  width: 80%;
  margin-top: 10px;
  padding-left: 10px;
  height: 60px;
  align-self: center;
  font-family: "GmarketSans";
  font-size: 6 px;
  background-color: #f1f3f5;
  border-radius: 10px;
  font-size: 20px;
}

.btnBox {
  background-color: #2d3440;
  padding: 8px;
}

/* privateModal.css */
.mettingList {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 80%;
  height: 380px;
  align-self: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.private-modal-list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.item-text {
  font-family: "GmarketSans";
}

.item-divider {
  width: 100%;
}

.meetingItem {
  display: flex;
  align-items: center;
  height: 80px;
  display: flex;
  background-color: whitesmoke;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow-y: scroll;
}

.list-item-button {
  align-self: center;
}

@media (max-width: 768px) {
  .modalBody {
    width: 80%;
    height: auto;
  }
}
