.sideBarBox{
  position: fixed;
  box-shadow: 10.347240447998047px 11.496933937072754px 72.43067932128906px 0px rgba(0, 0, 0, 0.23999999463558197) ;
  border-radius: 30.822368621826172px;
  background-color: rgba(46, 46, 72, 1);
  height: 95vh;
  left: 3vw;
  padding: auto;
  top : 3vh;
  bottom: 3vh;
  width: 160px;
  overflow: auto;
  min-height: 50hv;
}

.text{
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
    font-style: normal;
    text-align: left;
}
.nickName{
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
    font-style: normal;
    text-align: center;
}
.listItem {
  box-sizing: border-box;
  top: 5vw;
  margin-bottom: 2vh; /* 또는 원하는 크기로 조정 */
  margin-top: 3vh;
}

.profileImg{
  width: 50%;
  height: 50%;
    border-radius: 70px;
}
.functionsBtn{
  
}
